#gameboard {
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

    /*margin: 0 auto;
    border: solid 1px #369;
    width: 90px;
    overflow: hidden;
    "*/
.cell {
    float: left;
    width: 78px;
    height: 78px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: garamond;

}

.row {
    clear: both;
}

.lt, .rt, .mt {border-bottom: 1px solid #222222;}
.lc, .mc, .rc {border-bottom: 1px solid #222222;}
.lt, .lc, .lb {border-right: 1px solid #222222;}
.mc, .mt, .mb {border-right: 1px solid #222222;}
.x {color: aquamarine;}
